@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: "Open sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.slider-arrow {
  max-width: none;
  width: 32px;
  height: 32px;
}

.carrouselContainer {
  overflow-x: auto; /* Keeps horizontal scrolling */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
  -ms-overflow-style: none; /* Hides scrollbar in Internet Explorer and Edge */
}

.carrouselContainer::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome, Safari, and Opera */
}

.fade-in-top,
.fade-in {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in-top.visible,
.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
